<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Customer</title>
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='add.css') }}">
</head>
<body>
    <h1>Add Customer</h1>
    <form method="post" action="/customer_add">
        <label for="customer_name">Customer Name:</label>
        <input type="text" id="customer_name" name="customer_name" required>

        <label for="contact_number">Contact Number:</label>
        <input type="text" id="contact_number"  name="contact_number" pattern="[0-9]{10}" title="Please enter a 10-digit number">

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" pattern="[a-zA-Z0-9._%+-]+@gmail\.com" title="Please enter valid email" required>
        <br>
        <div>
        <button type="submit">submit</button>
        <button type="back" onclick="goBack()">Back</button>
</div>
    </form>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
