<!DOCTYPE html>
<html>
<head>
  <title>Customers and Bikes</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='edit.css') }}">

  <style>
    table {
      border-collapse: collapse;
      width: 80%;
      margin: 20px auto;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>

<h2>customers who have rented more than one bike </h2>
<table>
  <tr>
    <th>Customer ID</th>
    <th>customer Name</th>
  </tr>
  {% for row in man_combinations %}
  <tr>
    <td>{{ row[0] }}</td>
    <td>{{ row[1] }}</td>
  </tr>
  {% endfor %}
</table>

</body>
</html>
